<!DOCTYPE html>
<html>
<title>Browse Styles</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="max-width:1500px">

<!--NAVIGATION BAR -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Shop My Style</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('browse') }}">Browse</a></li>
      <li><a href="{{ url_for('upload') }}">Upload</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="#">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="sear\
ch">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<!-- Header -->
<div class="w3-opacity">
<header class="w3-center w3-margin-bottom">
  <h1><b>{% block title %}{% endblock %}</b></h1>
  <p><b>{% block description %}{% endblock %}</b></p>
</header>
</div>



{% block content %}{% endblock %}


</body>
</html>
