{% extends "base.html" %}


{% block title %}BROWSE{% endblock %}
{% block description %}Browse by Category{% endblock %}

{% block content %}

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third w3-container w3-margin-bottom">
    <img src="/static/browsepage/dress.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/accessories.jpeg" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/jewelry.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/shoes.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/skirts.JPG" style="width:100%" class="w3-hover-opacity">
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
    <img src="/static/browsepage/jeans.jpeg" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/bags.jpeg" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/rompers.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/shorts.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/swimwear.JPG" style="width:100%" class="w3-hover-opacity">
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
    <img src="/static/browsepage/coats.jpeg" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/pants.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/shirtsandblouses.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/sweaters.JPG" style="width:100%" class="w3-hover-opacity">
    <img src="/static/browsepage/tshirtsandtanks.JPG" style="width:100%" class="w3-hover-opacity">
  </div>
</div>

{% endblock %}

<!-- End Page Content -->
