{% extends "base.html" %}


{% block title %}BROWSE{% endblock %}
{% block description %}Browse by Category{% endblock %}

{% block photogrid %}.w3-row-padding img {margin-bottom: 12px} {% endblock %}

{% block content %}

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third w3-container w3-margin-bottom">
    <a href="clothes/womens-dresses">
      <img src="/static/browsepage/dress.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-accessories">
      <img src="/static/browsepage/accessories.jpeg" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-jewelry">
      <img src="/static/browsepage/jewelry.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-shoes">
      <img src="/static/browsepage/shoes.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-skirts">
      <img src="/static/browsepage/skirts.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
    <a href="clothes/womens-jeans">
      <img src="/static/browsepage/jeans.jpeg" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-bags">
      <img src="/static/browsepage/bags.jpeg" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-rompers">
      <img src="/static/browsepage/rompers.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-shorts">
      <img src="/static/browsepage/shorts.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-swimwear">
      <img src="/static/browsepage/swimwear.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
    <a href="clothes/womens-coats">
      <img src="/static/browsepage/coats.jpeg" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-pants">
      <img src="/static/browsepage/pants.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-shirts-and-blouses">
      <img src="/static/browsepage/shirtsandblouses.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-sweaters">
      <img src="/static/browsepage/sweaters.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
    <a href="clothes/womens-tshirts-and-tanks">
      <img src="/static/browsepage/tshirtsandtanks.JPG" style="width:100%" class="w3-hover-opacity">
    </a>
  </div>
</div>

{% endblock %}

<!-- End Page Content -->
