{% extends "base.html" %}


{% block title %}BUY THESE CLOTHES{% endblock %}
{% block description %}These are the actual pics in our database lol yeaaaa{% endblock %}

{% block content %}

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col1 %}
    <img src="data:image/jpg;base64,{{pic[1]}}" style="width:100%" class="w3-hover-opacity">
  {% endfor %}
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col2 %}
    <img src="data:image/jpg;base64, {{pic[1]}}" style="width:100%" class="w3-hover-opacity">
  {% endfor %}
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col3 %}
    <img src="data:image/jpg;base64, {{pic[1]}}" style="width:100%" class="w3-hover-opacity">
  {% endfor %}
  </div>

</div>

{% endblock %}

<!-- End Page Content -->
