{% extends "base.html" %}


{% block title %}Shop My Style{% endblock %}
{% block description %}Click on the photos to shop the look{% endblock %}

{% block content %}

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col1 %}
    <img src="data:image/{{pic[0].extension}};base64,{{pic[1]}}" style="width:100%" class="w3-hover-opacity" onclick="popup('{{pic[0].body}}')">
  {% endfor %}
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col2 %}
    <img src="data:image/{{pic[0].extension}};base64, {{pic[1]}}" style="width:100%" class="w3-hover-opacity" onclick="popup('{{pic[0].body}}')">
  {% endfor %}
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col3 %}
    <img src="data:image/jpg;base64, {{pic[1]}}" style="width:100%" class="w3-hover-opacity" onclick="popup('{{pic[0].body}}')">
    <img src="data:image/{{pic[0].extension}};base64, {{pic[1]}}" style="width:100%" class="w3-hover-opacity" onclick="popup('{{pic[0].body}}')">
  {% endfor %}
  </div>

</div>
<script>
function popup(description)
{
  alert(description);
}
</script>

{% endblock %}

<!-- End Page Content -->
