{% extends "base.html" %}


{% block title %}Shop My Style{% endblock %}
{% block description %}Click on the photos to shop the look{% endblock %}



{% block content %}

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:128px">
  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col1 %}
  <a href="#" class="pop">
    <data value="{{pic[2]}}">
      <img src="data:image/{{pic[0].extension}};base64,{{pic[1]}}" alt="{{pic[0].username}}" style="width:100%" class="w3-hover-opacity">
    </data>
  </a>

  {% endfor %}
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col2 %}
  <a href="#" class="pop">
    <data value="{{pic[2]}}">
      <img src="data:image/{{pic[0].extension}};base64, {{pic[1]}}" alt="{{pic[0].username}}" style="width:100%" class="w3-hover-opacity">
    </data>
  </a>
  {% endfor %}
  </div>

  <div class="w3-third w3-container w3-margin-bottom">
  {% for pic in pic_col3 %}
  <a href="#" class="pop">
    <data value="{{pic[2]}}">
      <img src="data:image/{{pic[0].extension}};base64, {{pic[1]}}" alt="{{pic[0].username}}" style="width:100%" class="w3-hover-opacity">
    </data>
  </a>
  {% endfor %}
  </div>
</div>

<!--Script that makes the images pop up-->
<script>
$(function() {
    $('.pop').on('click', function() {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
        var body = $(this).find('data').attr('value')
        var links = body.split(' ');
        var username = $(this).find('img').attr('alt');
        $('.text-left').empty();
        $('.text-right').empty();
        for (i in links) {
          var category = links[i].split(';')[0];
          var link = links[i].split(';')[1];
          if (link.toLowerCase().startsWith('http')) {
            $('.text-left').append('<div><p><b>' + category + ': </b><a href=\"' + link + '\" target=\"_blank\">' + link + '</a></p></div>');
          } else {
            $('.text-left').append('<div><p><b>' + category + ': </b><a href=\"//' + link + '\" target=\"_blank\">' + link + '</a></p></div>');
          }
        }
        $('.text-right').append('<p align="right">Posted by ' + username + '</p>');
        $('#imagemodal').modal('show');
    });
});
</script>

<!--Hidden modal background-->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <img src="" class="imagepreview" style="width: 100%;">
      </div>
   <div class="modal-footer">
     <div class="col-xs-12">
         <div class="text-left"></div>
         <div class="text-right"></div>
     </div>
   </div>
 </div>
</div>

{% endblock %}

<!-- End Page Content -->
