{% extends "base.html" %}

{% block title %}Share Your Style!{% endblock %}
{% block description %}Upload an image of your outfit{% endblock %}

{% block content %}

<form method=post action="/upload" enctype=multipart/form-data>

<div class="form-group">
    <textarea class="form-control" name="description" placeholder="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
 </div>

<input class="form-control" type="text" name="category" placeholder="Categories">

    <input type=file name=file>
    <input type=submit value=Upload>
</form>

{% endblock %}
